/* STYLES CSS */

body {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;

  font-family: var(--f-SegoeUiReg), sans-serif;
  line-height: normal;
  letter-spacing: normal;
  color: var(--c-white-v1);
  background-color: var(--c-black-v1);
  /* z-index: 1; */
}

.container {
  max-width: var(--w-container);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.line {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  width: 100%;
  max-width: 1300px;
  height: 2px;
  display: flex;
  background-color: var(--c-grey-v1);
}

.scroll-btn {
  display: none;
  position: fixed;
  bottom: 52px;
  right: 10%;
  z-index: 100;
}
.scroll-btn--active {
  display: block;
}