.footer {
  padding-top: 10px;
  padding-bottom: 66px;
  font-family: var(--f-SegoeUiReg);
  font-size: 14px;
  color: var(--c-grey-v1);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* LOGO-BOTTOM */
.logo-bottom {
  margin-bottom: 27px;
}


/* BOTTOM MENU */
.menu-bottom {
  text-transform: uppercase;
  margin-bottom: 27px;
}

.menu-bottom__logo-bottom {
  margin-top: 32px;
}

.menu-bottom__list {
  display: flex;
}

.menu-bottom__item:not(:last-child) {
  margin-right: 61px;
}

.menu-bottom__item {
  transition: 0.4s color;
  white-space: nowrap;
}

.menu-bottom__item:hover,
.menu-bottom__link--active {
  color: var(--c-red-v1);
}


/* SOCIAL */
.social {
  margin-bottom: 18px;
}

.social__list {
  display: inline-flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 14px;
}

.social__link {
  display: inline-flex;
  transition: 0.2s transform;
}

.social__link:hover {
  transform: scale(1.3);
}

.footer__develop {
  text-align: center;
}


/* @MEDIA */
@media (max-width: 900px) {
  .menu-bottom__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 700px) {
  .menu-bottom__list {
    flex-direction: column;
    align-items: center;
  }
  .menu-bottom__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}